DEVELBAR=FALSE
CI_ENV=development
# APP_API_URL_V1=http://localhost:3000/api/v1
# APP_API_URL_V1=http://api-peternak-id.peternak.id:4500/api/v1

DB_HOST_MAIN=127.0.0.1
DB_DATABASE_MAIN=
DB_USERNAME_MAIN=
DB_PASSWORD_MAIN=

DB_HOST_DEV=127.0.0.1
DB_DATABASE_DEV=
DB_USERNAME_DEV=
DB_PASSWORD_DEV=

DB_HOST_PLC=
DB_DATABASE_PLC=
DB_USERNAME_PLC=
DB_PASSWORD_PLC=

DB_HOST_LOGGER=
DB_DATABASE_LOGGER=
DB_USERNAME_LOGGER=
DB_PASSWORD_LOGGER=

APP_API_URL_V1=
HMAC_PUBLIC_KEY=
HMAC_SECRET_KEY=

# WHATSAPP_API_URL=http://wa.peternak.id:4011

WHATSAPP_BASE_URL=
WHATSAPP_HMAC_PUBLIC_KEY=
WHATSAPP_HMAC_SECRET_KEY=